.paymentCard
    height: 660px
.priceCurrency
    font-size: 10px
    font-weight: 500
.priceDiscount
    font-weight: 400
    font-size: 24px
    line-height: 29px
    color: #00D2A0

.priceAmount
    font-weight: 500
    font-size: 24px
    line-height: 29px
.featureTxt
    font-size: 20px
    @media (max-width: 400px)
        font-size: 16px // or whatever

.featureTitle
    font-size: 24px
.innerBox
    gap: 60px
.bottomTagline
    font-size: 16px
.headerTxt
    font-size: 32px
    line-height: 48px
.topSelectorText
    font-size: 18px
.smalltxt
    font-size: 10px
.cardHeaderContent
    background: #EDEFF1
.cardFeaturesContent
    background: #F9FAFB
.cardFeaturesRecommendedContent
    background: #F9FAFB

.cardRecommendedHeaderContent
    background: #ECEAFB
.recommendedBorder
    outline: 12px solid #4624D6
